/* 초기화 */

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
ul {
    list-style: none;
}
a {
    text-decoration: none;
    color: inherit;
}
/* 공통 글꼴 */
body {
    font-family: Arial, Helvetica, sans-serif;
    color: #333;
    line-height: 1.3;
}

/* 헤더 */
nav {
    width: 100%;
    margin: 0 auto;
}
nav ul {
    width: 717px;
    margin: 0 auto;
    overflow: hidden;
}
nav ul li {
    float: left;
    margin: 0 20px;
    line-height: 120px;
}

/* 본문 이미지 */
main {
    width: 1240px;
    margin: 0 auto;
    position: relative;
}
main img {
    width: 1240px;
}
.box-wrap {
    width: 400px;
    height: 250px;
    margin: 0 auto;
    position: absolute;
    left: 620px;
    top: 151px;
    margin-left: -200px;
    margin-top: -125px;
    background-color: #aaa;
}
.text-box {
    text-align: center;
    margin-top: 20px;
}
.text-box p {
    margin-top: 10px;
}
.text-box h2 {
    font-weight: 900;
}
.text-box hr {
    width: 30px;
    border: 1px solid #000;
    margin: 0 auto;
}
.box2 p {
    text-align: center;
    margin: 10px 0;
}
.select-box {
    width: 260px;
    margin: 0 auto;
}
.select-box div {
    width: 120px;
    height: 40px;
    float: left;
    margin: 0 5px;
    line-height: 40px;
    text-align: center;
    font-weight: 700;
}
.select-box div:nth-of-type(1) {
    background-color: #fff;
}
.select-box div:nth-of-type(2) {
    background-color: orange;
    color: #fff;
}

/* 본문 섹션 */
section h2 {
    text-align: center;
    padding-top: 50px;
    font-size: 30px;
}
.content-wrap {
    overflow: hidden;
}
.content-box {
    width: 250px;
    margin: 0 30px;
    padding: 30px 0;
    text-align: center;
    float: left;
    font-size: 14px;
    border-bottom: 1px solid #aaa;
}
.content-box img {
    width: 60px;
}
/* 푸터 */
footer {
    max-width: 1240px;
    margin: 50px auto;
    background-color: #eee;
}
.footer-wrap {
    width: 900px;
    margin: 0 auto;
    overflow: hidden;
}
.footer-wrap div img {
    float: right;
}
.footer-wrap div h2 {
    padding-top: 80px;
    padding-bottom: 20px;
}